<h2>Diff for <code><%= path_info %></code></h2>

<table class="diff">
<% for type, row in @diff %>
  <tr><td class="<%= type %>"><%= row %></td></tr>
<% end %>
</table>

<p>
  [<%= link_to 'Edit', relative_path(@file) %> |
   <%= link_to 'Undo', relative_path("#{@file};revert") %>]
</p>

