<h2>Edit <%= type = @page.type %> <code><%= path_info %></code></h2>

<p>
  <%= language_links(@page) if @page.multilang? %>
</p>

<%= form :put, relative_path(@file) %>
<% if header = @page.header %>
  <%= header_fields(header) %>
<% end %>

<% if body = @page.body %>
  <p>
    <label for="page_body">Body:</label><br />
    <textarea name="body" id="page_body" rows="20" cols="60"><%=h body %></textarea>

    <small id="markup_links">
    <% if @page.markup? %>
      <link rel="stylesheet" href="<%= url_for "/markitup/sets/#{@page.markup}/style.css" %>" type="text/css" />
      <script src="<%= url_for "/markitup/sets/#{@page.markup}/set.js" %>" type="text/javascript"></script>
      <script type="text/javascript">if (typeof(mySettings) !== 'undefined') { $('#page_body').markItUp(mySettings); }</script>
      <strong><%= @page.markup.humanize %>:</strong>
      <%= markup_links %>
    <% else %>
      <strong>No markup</strong>
    <% end %>
    </small>
  </p>
<% end %>

  <p>
    <label for="page_slug">Slug:</label><br />
    <input type="text" name="slug" id="page_slug" value="<%= @page.slug %>" size="50" />
  </p>

  <p>
    <input type="submit" value="Save <%= type %>" /> |
    <%= link_to 'Cancel', relative_path %>
  <% if dirty?(@real_path) %>
    &nbsp;
   [<%= link_to 'Diff', relative_path("#{@file};diff") %> |
    <%= link_to 'Undo', relative_path("#{@file};revert") %>]
  <% end %>
  </p>
</form>

<%= form_delete type.to_sym, relative_path(@file) %>
