<h2>Edit file <code><%= path_info %></code></h2>

<%= form :put, relative_path(@file) %>
  <p>
    <label for="file_name">File Name:</label><br />
    <input type="text" name="file_name" id="file_name" value="<%= @file %>" size="50" />
  </p>
  <input type="submit" value="Save file" /> |
  <%= link_to 'Cancel', relative_path %>
</form>

<%= form_delete :file, relative_path(@file) %>

<br />

<% url  = url_for_file(@path_info) + u(';show')
   link = %Q{<h3>[#{link_to 'Show', url}]</h3>} %>

<% if mime_type =~ /\Aimage\// %>
  <%= link.insert(4, 'Preview ') %>

  <iframe src="<%= url %>" width="90%" height="500" name="<%= @file %>">
    <p>No iframe support? Need a <a href="http://browser-update.org/de/update.html">better web browser?</a></p>
  </iframe>
<% else %>
  <%= link %>
<% end %>
