<p>
  <% if @page.multilang? %>
    <%= language_links(@page) %> |
  <% end %>
  <%= link_to_preview(@page) %>
</p>

<%= form :put, relative_path(@file) %>
  <% if @page.render? %>
    <%= header_fields(@page.header) %>
  <% end %>

  <p>
    <label for="page_body">Body:</label><br />
    <textarea name="body" id="page_body" rows="20" cols="60"><%= @page.body %></textarea>
    <br />
    <small>
    <% if @page.markup? %>
      <strong><%= @page.markup.humanize %>:</strong>
      <%= Page::MARKUP_LINKS[@page.markup.to_sym].map { |name, link|
        %Q{<a href="#{link}" target="_blank">#{name}</a>}
      }.join(' | ') %>
    <% else %>
      <strong>No markup</strong>
    <% end %>
    </small>
  </p>

  <p>
    <label for="page_slug">Slug:</label><br />
    <input type="text" name="slug" id="page_slug" value="<%= @page.slug %>" size="50">
  </p>

  <p>
    <input type="submit" value="Save page">
    | <%= link_to 'Cancel', relative_path %>
  </p>
</form>

<%= form_delete 'page', relative_path(@file) %>
