<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>
     Jekyll Commander [<%= File.basename(options.jekyll_root) %>]
     - <%= relative_pwd %><%= " (#{@file})" if @file %>
   </title>

   <link rel="stylesheet" href="<%= url_for '/css/screen.css' %>" type="text/css" media="screen, projection" />
</head>
<body>
  <div id="site">

    <div id="sidebar">
      <p><%= trail %></p>

      <p><%= partial :files %></p>

      <p>
        <%= link_to 'New page',   relative_url(';new_page') %> |
        <%= link_to 'New folder', relative_url(';new_folder') %>

        <%= form_delete 'folder' %>
      </p>

    </div>

    <div id="main">
      <%= render_flash :error, :notice %>
      <%= yield %>
    </div>

  </div>
</body>
</html>
