<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
    "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>
     Jekyll Commander [<%= repo_name %>]
     - <%= relative_pwd %><%= " (#{@file})" if @file %>
   </title>

   <script src="<%= url_for '/js/prototype.js' %>" type="text/javascript"></script>
   <script src="<%= url_for '/js/application.js' %>" type="text/javascript"></script>
   <link rel="stylesheet" href="<%= url_for '/css/screen.css' %>" type="text/css" media="screen, projection" />
</head>
<body>
  <div id="site">

    <div id="sidebar">
      <p id="loginfo">[
        <%= options.site ? link_to(repo_name, options.site) : repo_name %>
        : <strong><%= user %></strong>
      ]</p>

      <p id="trail"><%= trail %></p>

      <p id="files"><%= partial :files %></p>

      <p id="actions">
        <%= link_to 'New page',   relative_path(';new_page') %> |
        <%= link_to 'New folder', relative_path(';new_folder') %> |
        <%= link_to 'Status',     relative_path(';status') %>

        <%= form_delete 'folder' %>
      </p>

      <p id="site-actions">
        <%= link_to 'Save changes', '/' + u(';save') %> |
        <%= link_to 'Publish site', '/' + u(';publish') %>
      </p>
    </div>

    <div id="main">
      <%= render_flash :error, :notice %>
      <%= yield %>
    </div>

  </div>
</body>
</html>
