<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>Jekyll Commander</title>

   <link rel="stylesheet" href="/css/screen.css" type="text/css" media="screen, projection" />
</head>
<body>
  <div id="site">

    <div id="sidebar">
      <p><%= relative_pwd %></p>

      <p><%= partial :files %></p>

      <p>
        <%= link_to 'New page', '/new/page' %> |
        <%= link_to 'New folder', '/new/folder' %>
      </p>

    </div>

    <div id="main">
      <% if session[:flash] %>
        <p class="flash"><%= flash %></p>
      <% end %>
      <%= yield %>
    </div>

  </div>
</body>
</html>
