<h2>New series</h2>

<%= form_new :series %>
  <p>
    <label for="page_title">Title (english, required):</label><br />
    <input type="text" name="title" id="page_title" size="50" />
  </p>

  <p>
    <label for="page_number">Number:</label><br />
    <%= options_for_series_number_select %>
  </p>

  <p>
    <label for="page_layout">Which layout do you want?</label>
    <%= render_layout_header(:layout, 'series') %>
  </p>

  <p>
    <label for="page_markup">Which markup language do you want?</label>
    <%= options_for_markup_select %>
  </p>

  <p>
    <label for="page_author">Author:</label><br />
    <input type="text" name="author" id="page_author" size="50" value="<%= user %>" />
  </p>

  <p>
    <input type="submit" value="Create series" />
    | <%= link_to 'Cancel', relative_path %>
  </p>
</form>
