<h2>Publish site</h2>

<%= form_this %>
  <label for="commit_tag">Version:</label>
  <select name="tag" id="commit_tag">
  <% unless @logs.empty? %>
    <option value="_new">New...</option>
  <% end %>
  <% for tag in @tags %>
    <option value="<%=h tag.name %>">
    <% if commit = tag.commit %>
      <%= commit.authored_date.strftime('%Y-%m-%d %H:%M:%S %Z') %> (<%=h commit.author.name %>)
    <% else %>
      <%=h tag.name %>
    <% end %>
    </option>
  <% end %>
  </select>
  <input type="submit" value="Publish site" />
</form>

<% unless @logs.empty? %>
<hr />
<%= partial :log %>
<% end %>
