<h2>Save changes</h2>

<%= form_this %>
  <label for="commit_msg">Please enter a descriptive summary of your changes (required):</label><br />
  <input type="text" name="msg" id="commit_msg" value="<%= @msg %>" size="50" /><br /><br />
  <input type="submit" value="Save changes" />
</form>

<hr />

<table class="diff_stats">
  <tr>
    <td colspan="3">
      <%= @diff_total[:files] %> file<%= 's' unless @diff_total[:files] == 1 %> changed,
      <%= @diff_total[:additions] %> additions(+),
      <%= @diff_total[:deletions] %> deletions(-)
    </td>
  </tr>
<% for file, stats in @diff_stats.sort %>
  <% additions, deletions = stats.values_at(:additions, :deletions) %>
  <tr>
    <td class="file">
      <%= link_to_file file %>
    </td>
    <td class="num">
      <%= additions + deletions %>
      [<%= link_to 'Diff', relative_path("#{file};diff") %>]
    </td>
    <td class="stat">
      <span class="additions"><%=
        additions > 30 ? additions : '+' * additions
      %></span><span class="deletions"><%=
        deletions > 30 ? deletions : '-' * deletions
      %></span>
    </td>
  </tr>
<% end %>
</table>
