<h2>Status of <code><%= @path %></code></h2>

<% for type, files in @status.sort %>
  <h3 class="<%= type %>">
    <%= files.size %>
    <%= type %><%= 's' if type == 'conflict' && files.size != 1 %>
  </h3>

  <ul>
  <% for file in files.sort %>
    <li>
      <%= link_to_file file %>
    <% if type == 'conflict' %>
      [<%= link_to 'Diff', relative_path("#{file};diff") %>]
    <% elsif type == 'untracked' %>
      [<%= link_to 'Add',  relative_path("#{file};add") %>]
    <% else %>
      [<%= link_to 'Diff', relative_path("#{file};diff") %> |
       <%= link_to 'Undo', relative_path("#{file};revert") %>]
    <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
