<h2>Status</h2>

<% for type, files in @status.sort %>
  <h3><%= files.size %> <%= type %></h3>

  <ul>
  <% for file in files.sort %>
    <li>
      <%= link_to_file file %>
    <% if type == 'untracked' %>
      [<%= link_to 'Add', relative_path("#{file};add") %>]
    <% else %>
      [<%= link_to 'Undo', relative_path("#{file};revert") %>]
    <% end %>
    </li>
  <% end %>
  </ul>
<% end %>
